@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

img {
    max-width: 100%;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

.c-blue {
    color: #00a9d9;
}

.txt-up {
    text-transform: uppercase;
}

.btn {
    padding: 1rem 5rem;
    background-color: $dc-blue;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    color: #FFF;
}

.route .btn {
    padding: 0.5rem 1rem;
}

.route {
    margin-bottom: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

input.btn {
    border: none;
}

.alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    border: 5px solid #00a9d9;
    z-index: 9999;
    padding: 10rem;
    font-size: 2rem;
    display: none;
}

.alert .btns-wrapper {
    display: flex;
    justify-content: space-between;
}

.alert .btns-wrapper .btn {
    height: 50px;
}

.container.comic-desc {
    position: relative;
}